# Ignore large project video recordings
projects/MindTrack AI - Google Chrome 2026-07-11 19-42-44.mp4
projects/AMT — Smart Ambulance Tracking & Green Corridor System - Google Chrome 2026-06-05 19-26-32.mp4
